@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* General Styles */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #FFFFFF; /* White background */
    margin: 0;
    padding: 20px;
    color: #000000; /* Black text */
}

/* Drag-Drop Area */
#drag-drop-area {
    border: 2px dashed #000000; /* Black dashed border */
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF; /* White background */
    cursor: pointer;
    width: calc(100% - 40px);
    margin: 10px auto;
    box-sizing: border-box;
}

#drag-drop-area:hover, #drag-drop-area.active {
    background-color: #F5F5F5; /* Light gray for hover */
    border-color: #000000;
}

/* File Input and Labels */
input[type='file'] {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    border-radius: 4px;
    cursor: pointer;
}

.custom-file-label:hover {
    background-color: #333333; /* Dark gray on hover */
}

/* File Info and Upload Button Container */
.file-info-upload-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* File Info Styling */
#file-info {
    font-size: 14px;
    color: #000000; /* Black text */
    flex-grow: 1;
}

/* Upload Button Styling */
#upload-button {
    background: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-grow: 0;
}

#upload-button:disabled {
    background: #CCCCCC; /* Light gray for disabled state */
    color: #666666; /* Dark gray text for disabled state */
}

#upload-button:hover:enabled {
    background: #333333; /* Dark gray on hover */
}

/* File Statistics */
#file-stats {
    font-size: 0.9em;
}

.stat-item {
    margin-bottom: 10px;
}

/* Progress Bar */
#upload-progress, .progress-bar {
    border-radius: 5px;
    height: 20px;
    background-color: #000000; /* Black background for progress bar */
    width: 0%;
    transition: width 0.4s ease-in-out;
}

/* SpeedChart Styles */
#speedChart {
    /* Adjust chart styles to fit the new color scheme */
}

#uploadStatus h2 {
    font-size: 2em; /* Large font size */
    text-align: center;
    margin: 10px 0;
}


/* Responsive Design */
@media (max-width: 600px) {
    #drag-drop-area {
        padding: 10px;
    }

    .file-info-upload-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #file-info {
        order: 2;
        margin-bottom: 10px;
    }

    #upload-button {
        order: 1;
        width: 100%;
        margin-top: 0;
        margin-bottom: 10px;
    }
}
